aiofiles==23.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
asyncer==0.0.7
attrs==25.1.0
backports.tarfile==1.2.0
bidict==0.23.1
build==1.2.2.post1
CacheControl==0.14.2
certifi==2025.1.31
cffi==1.17.1
chainlit==2.2.0
charset-normalizer==3.4.1
chevron==0.14.0
cleo==2.1.0
click==8.1.8
crashtest==0.4.1
dataclasses-json==0.6.7
Deprecated==1.2.18
distlib==0.3.9
distro==1.9.0
dulwich==0.22.7
fastapi==0.115.8
fastjsonschema==2.21.1
filelock==3.17.0
filetype==1.2.0
frozenlist==1.5.0
googleapis-common-protos==1.66.0
grpcio==1.70.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
humanlayer==0.7.6
idna==3.10
importlib_metadata==8.5.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jiter==0.8.2
keyring==25.6.0
Lazify==0.4.0
literalai==0.1.103
marshmallow==3.26.1
more-itertools==10.6.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
openai==1.61.1
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
packaging==24.2
pkginfo==1.12.0
platformdirs==4.3.6
poetry==2.0.1
poetry-core==2.0.1
propcache==0.2.1
protobuf==5.29.3
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
PyJWT==2.10.1
pyproject_hooks==1.2.0
python-dotenv==1.0.1
python-engineio==4.11.2
python-multipart==0.0.18
python-slugify==8.0.4
python-socketio==5.12.1
RapidFuzz==3.12.1
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
simple-websocket==1.1.0
sniffio==1.3.1
starlette==0.41.3
syncer==2.0.3
text-unidecode==1.3
tomli==2.2.1
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2025.1.15.22
typing-inspect==0.9.0
typing_extensions==4.12.2
uptrace==1.29.0
urllib3==2.3.0
uvicorn==0.34.0
virtualenv==20.29.1
watchfiles==0.20.0
wrapt==1.17.2
wsproto==1.2.0
xattr==1.1.4
yarl==1.18.3
zipp==3.21.0
